<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zjzl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <zjzl.Properties.Settings>
            <setting name="CounterName" serializeAs="String">
                <value>C1</value>
            </setting>
            <setting name="DbConn" serializeAs="String">
                <value>kiZDo9kGmI9di1S5hbPkdzbH9FM6Alg4hLeAYBNB83M=</value>
            </setting>
        </zjzl.Properties.Settings>
    </userSettings>
</configuration>